<div class="dashbox">
  <h3><span title="<%= metric('mingle_defects').description -%>"></span></h3>
  <p>
    <span class="big">
      <%= format_measure('mingle_defects') -%> Defects
    </span>
  </p>
</div>

